p {
    text-align: center; /* left center right start end*/
}
a {
    text-decoration: none;
}

#one {
    font-family: arial;
}
#two {
    font-family: 'Segoe UI';
}

/* h1 {
    text-align: center;
    text-decoration: red underline;
    // overline, line-through //
} */

/* #h1 {
    font-weight: normal;
}
#h2 {
    font-weight: bold;
}
#h3 {
    font-weight: light;
}
#h4 {
    font-weight: 250;
} */
