div {
    height:100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}


#box1{
    position: static;  /* static e position not changable*/
}  
#box2{
    position: relative; /*je position e ache tar sapekkhe*/
    top: 20px;
    left: 10px;
    z-index: 1;
}

#box3 {
    position: absolute;
    top: 500px;
    left: 20px;
}

#box4{
    position: fixed; 
    top: 50px;
}