div {
    height: 100px;
    width: 100px;
    background-color: aquamarine;
    border: 2px solid black;

    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(5);
    transition-timing-function: ease-in;
    transition-delay: 1s; */

    transition: all 2s ease-in 1s; /* in one line */

}

/* pseudo class */

div:hover {
    background-color: red;
    color: white;
    font-size: 20px;
}

div:active {
    background-color: pink;
}

