*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#main{
    height: 100%;
    width: 100%;
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.rect{
    display:flex;
}

.shape{
    height: 200px;
    width: 200px;
    border: 2px solid black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-left: 10px ;
}

#cursor{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: aqua;
    position: absolute;
}

